.root {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.one {
  background-color: red;
}

.two {
  background-color: blue;
}
